$primaryTransition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
$secondaryTransition: all 0.3s ease;
$thirdTransition: all 0.5s cubic-bezier(.85, 0, .12, 1);

$font-family-system: system-ui,
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Oxygen,
Ubuntu,
Cantarell,
'Open Sans',
'Helvetica Neue',
sans-serif;

$fontsize-p: 16px;
$fontsize-h1: 2.06666667em;
$fontsize-h2: 1.8em;
$fontsize-h3: 1.53333333em;
$fontsize-h4: 1.26666667em;
$fontsize-h5: 1.13333333em;
$fontsize-h6: 1em;

$lightgray: #fafafa;
$gray: #ddd;
$white: hsl(0, 0%, 100%);
$white75: hsla(0, 0%, 100%, 0.75);

$DesaturatedRed: hsl(0, 36%, 70%);
$SoftRed: hsl(0, 93%, 68%);
$DarkGrayishRed: hsl(0, 6%, 24%);
$gradientPrimary: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$gradientSecondary: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:focus-visible {
        outline-color: rgba(173, 216, 230, 0.75);
        outline-offset: 5px;
    }
}

@keyframes fadeInScaleFromLeft {
    0% {
        opacity: 0;
        transform: scale(0);
        transform-origin: left center;
    }

    100% {
        opacity: 1;
        transform: scale(1);
        transform-origin: left center;
    }

    0% {
        opacity: 0;
        transform: scale(0);
        transform-origin: left center;
    }
}

@keyframes fadeInScaleFromTop {
    0% {
        opacity: 0;
        transform: scale(0);
        transform-origin: top;
    }

    100% {
        opacity: 1;
        transform: scale(1);
        transform-origin: top;
    }

    0% {
        opacity: 0;
        transform: scale(0);
        transform-origin: top;
    }
}

@keyframes fadeInScaleFromCenter {
    0% {
        opacity: 0;
        transform: scale(0);
        transform-origin: center;
    }

    100% {
        opacity: 1;
        transform: scale(1);
        transform-origin: center;
    }

    0% {
        opacity: 0;
        transform: scale(0);
        transform-origin: center;
    }
}

@keyframes fadeInScaleFromBottom {
    0% {
        opacity: 0;
        transform: scale(0);
        transform-origin: bottom;
    }

    100% {
        opacity: 1;
        transform: scale(1);
        transform-origin: bottom;
    }

    0% {
        opacity: 0;
        transform: scale(0);
        transform-origin: bottom;
    }
}

.animate {
    animation-duration: 0.7s;
    -webkit-animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(.85, 0, .12, 1);
    -webkit-animation-timing-function: cubic-bezier(.85, 0, .12, 1);
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;

    &.animate-timing-ease-out {
        animation-timing-function: ease-out !important;
        -webkit-animation-timing-function: ease-out !important;
    }

    &.animate-duration-300ms {
        animation-duration: 300ms !important;
        -webkit-animation-duration: 300ms !important;
    }

    &.animate-delay-150ms {
        animation-delay: 150ms !important;
        -webkit-animation-delay: 150ms !important;
    }

    &.animate-delay-300ms {
        animation-delay: 300ms !important;
        -webkit-animation-delay: 300ms !important;
    }

    &.animate-delay-450ms {
        animation-delay: 450ms !important;
        -webkit-animation-delay: 450ms !important;
    }

    &.animate-delay-600ms {
        animation-delay: 600ms !important;
        -webkit-animation-delay: 600ms !important;
    }

    &.animate-delay-900ms {
        animation-delay: 900ms !important;
        -webkit-animation-delay: 900ms !important;
    }

    &.fadeInScaleFromLeft {
        -webkit-animation-name: fadeInScaleFromLeft;
        animation-name: fadeInScaleFromLeft;
    }

    &.fadeInScaleFromTop {
        -webkit-animation-name: fadeInScaleFromTop;
        animation-name: fadeInScaleFromTop;
    }

    &.fadeInScaleFromCenter {
        -webkit-animation-name: fadeInScaleFromCenter;
        animation-name: fadeInScaleFromCenter;
    }

    &.fadeInScaleFromBottom {
        -webkit-animation-name: fadeInScaleFromBottom;
        animation-name: fadeInScaleFromBottom;
    }
}