@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primaryTransition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);

$verydarkblue: hsl(233, 47%, 7%);
$darkdesaturatedblue: hsl(244, 38%, 16%);
$softviolet: hsl(277, 64%, 61%);
$white60: hsla(0, 0%, 100%, 0.60);

$brightorange: hsl(31, 77%, 52%);
$darkcyan: hsl(184, 100%, 22%);
$verydarkcyan: hsl(179, 100%, 13%);
$white: hsl(0, 0%, 100%);
$white75: hsla(0, 0%, 100%, 0.75);
$verylightgray: hsl(0, 0%, 95%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Lexend Deca', sans-serif;
    background-color:  $verylightgray;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    margin: auto;
    overflow: hidden;
    position: relative;
    .container-card{
        .wrap-card{
            width: 100%;
            overflow: hidden;
            font-size: 15px;
            display: flex;
            padding: 30px 20px;
            &:first-of-type{
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
            }
            &:nth-last-of-type(1){
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
            }
            &.brightorange{
                background-color: $brightorange;
                .wrap-content{
                    .wrap-action{
                        .wrap-button{
                            &.primary{
                                background-color: $white;
                                color: $brightorange;
                                border: 1px solid transparent;
                                &:hover{
                                    background-color: transparent;
                                    border: 1px solid $white;
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
            &.darkcyan{
                background-color: $darkcyan;
                .wrap-content{
                    .wrap-action{
                        .wrap-button{
                            &.primary{
                                background-color: $white;
                                color: $darkcyan;
                                border: 1px solid transparent;
                                &:hover{
                                    background-color: transparent;
                                    border: 1px solid $white;
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
            &.verydarkcyan{
                background-color: $verydarkcyan;
                .wrap-content{
                    .wrap-action{
                        .wrap-button{
                            &.primary{
                                background-color: $white;
                                color: $verydarkcyan;
                                border: 1px solid transparent;
                                &:hover{
                                    background-color: transparent;
                                    border: 1px solid $white;
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
            .wrap-content{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .wrap-img{
                    overflow: hidden;
                    width: 64px;
                    height: 40px;
                    position: relative;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                .wrap-title {
                    margin-top: 30px;
                    font-family: 'Big Shoulders Display', sans-serif;
                    font-weight: 700;
                    font-size: 2.2em;
                    text-decoration: none;
                    color: $white;
                    text-transform: uppercase;
                    .accent{
                        color: $softviolet;
                    }
                }
                .wrap-description {
                    margin-top: 30px;
                    font-size: 1em;
                    color: $white75;
                    font-weight: 300;
                }
                .wrap-action{
                    margin-top: 40px;
                    .wrap-button{
                        text-decoration: none;
                        width: 100%;
                        min-height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 20px;
                        padding: 12.5px 10px;
                        text-align: center;
                        font-size: 0.9em;
                        font-weight: 400;
                        transition: $primaryTransition;
                        margin-bottom: 10px;
                        width: max-content;
                        min-width: 135px;
                        img{
                            width: 16px;
                            height: 16px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 15px;
                        }
                        &:nth-last-of-type(1){
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 576px){
    .container{
        min-height: 100vh;
        padding: 20px;
        max-width: 900px;
        flex-direction: row;
        .container-card{
            .wrap-card{
                &:first-of-type{
                }
                &:nth-last-of-type(1){
                }
            }
        }
    }
}