$primaryTransition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);

$verydarkblue: hsl(233, 47%, 7%);
$darkdesaturatedblue: hsl(244, 38%, 16%);
$softviolet: hsl(277, 64%, 61%);

$white: hsl(0, 0%, 100%);
$white75: hsla(0, 0%, 100%, 0.75);
$white60: hsla(0, 0%, 100%, 0.60);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Lexend Deca', sans-serif;
    background-color:  $verydarkblue;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100dvh;
    padding: 20px;
    margin: auto;
    overflow: hidden;
    position: relative;
    .wrap-card{
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        background-color: $darkdesaturatedblue;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        transition: $primaryTransition;
        .wrap-img{
            overflow: hidden;
            height: 220px;
            transition: $primaryTransition;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
            .active-states{
                background-color: $softviolet;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: $primaryTransition;
                opacity: 0.5;
            }
        }
        .wrap-content{
            padding: 30px;
            transition: $primaryTransition;
            .wrap-title {
                font-family: 'Inter', sans-serif;
                font-weight: 700;
                font-size: 1.8em;
                text-align: center;
                text-decoration: none;
                transition: $primaryTransition;
                color: $white;
                .accent{
                    color: $softviolet;
                }
            }
            .wrap-description {
                margin-top: 20px;
                font-size: 1em;
                text-align: center;
                color: $white75;
            }
            .wrap-stats{
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                .stats-item{
                    margin-bottom: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    > div{
                        &.title{
                            font-size: 1.4em;
                            font-weight: 700;
                            color: $white;
                        }
                        &.desc{
                            text-transform: uppercase;
                            color: $white75;
                        }
                    }
                    &:nth-last-of-type(1){
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 576px){
    .container{
        min-height: 100dvh;
        padding: 20px;
        max-width: 900px;
        .wrap-card{
            flex-direction: row-reverse;
            .wrap-img{
                width: 50%;
                height: auto;
                img{
                    object-position: left;
                }
            }
            .wrap-content{
                width: 50%;
                padding: 40px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .wrap-title{
                    text-align: left;
                }
                .wrap-description{
                    text-align: left;
                }
                .wrap-stats{
                    flex-direction: row;
                    align-items: flex-start;
                    .stats-item{
                        width: calc(33.33% - 10px);
                        margin-bottom: 0;
                        margin-right: 10px;
                        align-items: flex-start;
                        &:nth-last-of-type(1){
                            margin-bottom: 0;
                            margin-right: 0;
                        }
                        > div {
                            &.desc{
                                line-break: anywhere;
                            }
                        }
                    }
                }
            }
        }
    }
}